#include "/home/w1n5t0n/sys/Xresources-themes/TomorrowNight.Xresources"

Xft.dpi:       190
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
